{% extends 'base.html.twig' %}

{% block title %}Orps index{% endblock %}

{% block body %}
    <h1>Orps index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOrp</th>
                <th>Gender</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Street</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orp in orps %}
            <tr>
                <td>{{ orp.idOrp }}</td>
                <td>{{ orp.gender }}</td>
                <td>{{ orp.name }}</td>
                <td>{{ orp.lastName }}</td>
                <td>{{ orp.street }}</td>
                <td>{{ orp.postalCode }}</td>
                <td>{{ orp.city }}</td>
                <td>{{ orp.email }}</td>
                <td>{{ orp.birthday }}</td>
                <td>
                    <a href="{{ path('orps_show', {'idOrp': orp.idOrp}) }}">show</a>
                    <a href="{{ path('orps_edit', {'idOrp': orp.idOrp}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orps_new') }}">Create new</a>
{% endblock %}
