{# Template étendu de \templates\base.html.twig #}
{% extends 'base.html.twig' %}

{#Titre de la page (délimiter par '%block title%'  et %endblock%) #}
{% block title %}{{ controller_name }}
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('build/homepage.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}
{# bloc destiné à comprendre le corps de la page #}
{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h1>Suivi des candidats</h1>
                <table class="table table-hover">
                    <tbody>
                        <tr class="clickable">
                            <td>
                                <span class="fa fa-star"></span>
                                Nombre de candidat inscrit
                            </td>
                            <td align="right">{{nbCandidates}}</td>
                        </tr>
                        <tr class="clickable">
                            <td>
                                <span class="fa fa-wrench"></span>
                                Nombre de candidat en cours de bilan
                            </td>
                            <td align="right">{{doBilan}}</td>
                        </tr>
                        <tr class="clickable">
                            <td>
                                <span class="fa fa-tasks"></span>
                                Nombre de place vacante
                            </td>
                            <td align="right">???</td>
                        </tr>
                        <tr class="clickable">
                            <td>
                                <span class="fa fa-briefcase"></span>
                                Candidat sans conseiller ORP
                            </td>
                            <td align="right">???</td>
                        </tr>
                        <tr id="view:_id1:_id2:_id302:sectionRepeat:1:moduleRepeat:0:_id622:_id624:_id625:_id626:_id639:_id640:activityRepeat:5:activityLine" class="clickable">
                            <td>
                                <span class="fa fa-pencil"></span>
                                Nombre de certification déja passé
                            </td>
                            <td align="right">???</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{{ path('candidates_new') }}" class="btn btn-success">Ajouter un candidat</a>
                <a href="{{ path('candidates_index') }}" class="btn btn-primary">Liste des candidats</a>
            </div>
        </div>
    </div>
{% endblock %}