{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCandidate</th>
                <th>Gender</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Street</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.idCandidate }}</td>
                <td>{{ candidat.gender }}</td>
                <td>{{ candidat.firstname }}</td>
                <td>{{ candidat.lastname }}</td>
                <td>{{ candidat.street }}</td>
                <td>{{ candidat.postalCode }}</td>
                <td>{{ candidat.city }}</td>
                <td>{{ candidat.email }}</td>
                <td>{{ candidat.birthday ? candidat.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('candidat_show', {'idCandidate': candidat.idCandidate}) }}">show</a>
                    <a href="{{ path('candidat_edit', {'idCandidate': candidat.idCandidate}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidat_new') }}">Create new</a>
{% endblock %}
