{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCandidate</th>
                <td>{{ candidat.idCandidate }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ candidat.gender }}</td>
            </tr>
            <tr>
                <th>Prename</th>
                <td>{{ candidat.prename }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ candidat.street }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ candidat.adresse }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ candidat.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ candidat.city }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.email }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ candidat.birthday ? candidat.birthday|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidat_index') }}">back to list</a>

    <a href="{{ path('candidat_edit', {'idCandidate': candidat.idCandidate}) }}">edit</a>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
